* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
header {
  margin-top: 2rem;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.world-logo img {
  width: 57px;
  height: auto;
  display: inline-block;
}
.header-section-left {
  display: inline-block;
  margin-right: 0.2rem;
}
.header-section-right {
  display: inline-block;
  margin-left: 0.2rem;
}
.header-section-right p {
  font-size: 1.4rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: -0.4rem;
}